.time_picker_input {
  border: none;
  border-bottom: 1px solid var(--input-border-bottom-color);
  outline: none;
  width: 60px !important;
  padding: 5px;
  font-size: 18px;
  color: var(--secondary-color);
  background: transparent;
  transition: border-color 0.15s ease-in-out;

  &:focus, &:active {
    border-color: var(--input-border-bottom-color-active);
  }
}