:root {
  // Цвета
  --color-black: #1b1b1b;
  --color-white: #fff;
  --color-main: #b146ea;

  --input-border-bottom-color: #383838;
  --input-border-bottom-color-active: var(--color-main);

  --min-cell-height: 100px;

  // Клетка даты
  --color-current-date-cell: var(--color-main);
  --color-current-date-cell-hover: #b866e4;
}

[data-theme="dark"] {
  --primary-color: var(--color-black);
  --secondary-color: var(--color-white);
  --color-border: rgba(255, 255, 255, 0.3);
  --color-date-cell-hover: #ffffff37;
}

[data-theme="light"] {
  --primary-color: var(--color-white);
  --secondary-color: var(--color-black);
  --color-border: rgba(5, 5, 5, 0.3);
  --color-date-cell-hover: #2f2f2f37;
}
