:root {
  // Цвета
  --color-black: #1b1b1b;
  --color-white: #fff;
  --color-dark-border: rgba(255, 255, 255, 0.3);

  --input-border-bottom-color: #383838;
  --input-border-bottom-color-active: #b146ea;

  // Клетка даты
  --color-date-cell-hover: #ffffff37;
  --color-current-date-cell: #b146ea;
  --color-current-date-cell-hover: #b866e4;

  // Размеры контейнера
  // --content-width: var(--cell-size) * 8;
  // --container-offset: 15px;
  // --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
}