.form {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 400px;
  min-height: 100vh;
  // border: 1px solid red;

  &_title {
    font-size: 45px;
    margin: 0 0 50px;
  }

  &_input {
    width: 100%;
  }

  &_button {
    margin: 20px 0 0;
  }

  &_link {
    display: block;
    margin: 30px 0 0;
    opacity: 0.8;
    transition: opacity 0.15s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}