.cell {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.date {
  position: relative;
  z-index: 2;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  align-self: center;
  font-size: 12px;
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--color-date-cell-hover);
  }

  &_current {
    color: var(--color-white);
    background-color: var(--color-current-date-cell);

    &:hover {
      background-color: var(--color-current-date-cell-hover);
    }
  }

  &_inactive {
    opacity: 0.3;
  }
}

.event {
  margin: 3px 5px;
  padding: 5px;
  border-radius: 15px;
  font-size: 11px;
  color: var(--color-white);
  background-color: var(--color-current-date-cell);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc((100vw / 7) - 5px);
}