.change_theme_button {
  border: none;
  background-color: transparent;
  cursor: pointer;

  svg {
    fill: var(--secondary-color);
    transition: transform 0.3s ease-in-out;
    backface-visibility: hidden;
  }

  &:hover {
    svg {
      transform: rotate(90deg);
    }
  }
}