[data-theme="dark"] .change_month_button {
  --background: rgba(255, 255, 255, 0.1);
  --background-hovered: rgba(255, 255, 255, 0.3);
}

[data-theme="light"] .change_month_button {
  --background: rgba(0, 0, 0, 0.1);
  --background-hovered: rgba(0, 0, 0, 0.3);
}

.change_month_button {
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  color: var(--secondary-color);
  background-color: var(--background);
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--background-hovered);
  }
}