@import "components/settings";
@import "components/vars";
@import "components/normalize.css";

body {
  display: flex;
  flex-direction: column;
}

.change-theme-animation {
  transition: background-color 0.2s ease-in-out;
}