@import "components/settings";
@import "components/vars";
@import "components/normalize.css";

body {
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  background-color: var(--color-black);
}