.event {
  margin: 3px 5px;
  padding: 5px;
  border-radius: 15px;
  width: auto;
  font-size: 11px;
  color: var(--color-white);
  background-color: var(--color-current-date-cell);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;
  overflow-anchor: none;

  &:hover {
    background-color: var(--color-current-date-cell-hover);
  }
}